extends ../layouts/common
block content
   body
      header
       nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/stores') Home
          li.nav-item
            a.nav-link(href='/users/create') Add new user 
          li.nav-item
            a.nav-link(href='/stores/createStore') Add new store
          li.nav-item
            a.nav-link(href='/users/listSalary') List Salary of Staff
        ul.navbar-nav.ml-auto
          li
            if user
             p.nav-link(href='#')= user.name
          li
            if !user
             a.btn.btn-primary(href='/auth/login') Login
          li 
            a.nav-link(href='/logout') Log out
      main.col-md-10
          h2 List of Stores
            table.table
              thead.thead-dark
                tr
                  th Stores Id
                  th Name of Stores
                  th Address of Store
                  th Date Open
                  th
              each store in stores  
                tr 
                  td= store.storeId
                  td= store.storeName
                  td= store.storeAddress
                  td= store.dateCreate
                  td
                    a.btn.btn-primary(href='/stores/'+ store.storeId) View
                  td
                    a.btn.btn-Success(href='/stores/' + store.storeId + '/edit' ) Edit
                  td
                    a.btn.btn-Danger(href='/stores/deleteStore/'+ store.storeId) Delete