extends ../layouts/common
block content
   body
      header
       nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/stores/') Home
          li.nav-item
            a.nav-link(href='/stores/' + stores[0].storeId + '/users') Users
          li.nav-item
            a.nav-link(href='/stores/' + stores[0].storeId + '/products') Products
          li.nav-item
            a.nav-link(href='/stores/' + stores[0].storeId + '/statistics') Sales Statistics
        ul.navbar-nav.ml-auto
          li
            if user
              p.nav-link(href='#')= user.name
          li
            if !user
             a.btn.btn-primary(href='/auth/login') Login
          li 
            a.nav-link(href='/logout') Log out
      main
        h2 Infomation of #{stores[0].storeName}
        p
        b StoresID:
        span= stores[0].storeId

        br
        b Name:
        span= stores[0].storeName

        br
        b Address:
        span= stores[0].storeAddress

        br
        b Date In:
        span= stores[0].dateCreate