extends ../layouts/common
block content
   body
    header
       nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/products') Products
          li.nav-item.active
            if session.cart.totalItems
              a.nav-link(href='/cart') Cart (#{session.cart.totalItems})
            else 
              a.nav-link(href='/cart') Cart
    main
      if errors
        each error in errors
          .alert.alert-danger= error
      if products 
        .cart.page
          ul.list-group
            each product in products
              li.list-group-item.d-flex.justify-content-between.align-items-center
                h2 #{product.item.name}
                span.badge.badge-secondary #{product.quantity}
                span #{product.price} vnđ
                a.btn.btn-default(href='/cart/remove/'+ product.item.id)  Remove
        .text-right
          strong Total:  #{totalPrice}
        hr
        .text-right
          a.btn.btn-success(href='/cart/checkout', type='button') Checkout
      else 
        h2 Your shopping cart is empty.