extends ../layouts/common
block content

	h2 Infomation staff
	p
	b UserName:
	span= users[0].username

	br
	b ID:
	span= users[0].id

	br
	b Name:
	span= users[0].name

	br
	b Date Of Birth:
	span= users[0].dateofbirth

	br
	b Gender:
	span= users[0].gender

	br
	b Phone:
	span= users[0].phone

	br
	b ID Card:
	span= users[0].idcard

	br
	b Address:
	span= users[0].address

	br
	b Date In:
	span= users[0].datein