hextends ../layouts/common
block content
   body
      header
       nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/products') Products
          li.nav-item.active
            a.nav-link(href='') Change Password
          li.nav-item
            if session.cart.totalItems
              a.nav-link(href='/cart') Cart (#{session.cart.totalItems})
            else 
              a.nav-link(href='/cart') Cart
          form.form-inline.mt-0(action='/products/search', method='GET')
            input.form-control.mr-sm-2(type='search', name='q', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        ul.navbar-nav.ml-auto
          li
            if user
             p.nav-link(href='#')= user.name
          li
            if !user
             a.btn.btn-primary(href='/auth/login') Login
          li 
            a.btn.btn-outline-success(href='/logout') Log out
      main
        if errors
            each error in errors
                .alert.alert-danger= error
        h2.text-center Change Password
        .container.mt-3
            form(method="POST")
                .form-group
                    label Old password
                    input.form-control.col-md-6(name='oldPassword', type='password', maxlength='100', value=values ? values.oldPassword : "")

                .form-group
                    label New password
                    input.form-control.col-md-6(name='newPassword', type='password', maxlength='100', value=values ? values.newPassword : "")

                .form-group
                    label Confirm password
                    input.form-control.col-md-6(name='confirmPassword', type='password', maxlength='100', value=values ? values.confirmPassword : "")
                br
                button.btn.btn-primary(type='submit') Change