extends ../layouts/common
block content
	if errors
		each error in errors
			.alert.alert-danger= error
	h2.text-center Create Product
	.container.mt-3
		form(action="/stores/"+ storeId + "/products/createProduct", method="POST", enctype="multipart/form-data")
			.form-group
				label ID Product
				input.form-control.col-md-6(name='id', type='text', maxlength='100', value=values ? values.id : "")
			.form-group
				label Name of Product
				input.form-control.col-md-6(name='name', type='text', maxlength='100', value=values ? values.name : "")

			.form-group
				label Price
				input.form-control.col-md-6(name='price', type='text', maxlength='100', value=values ? values.price : "")

			.form-group
				label Store Id
				input.form-control.col-md-6(name='storeId', type='text', maxlength='100', value=values ? values.storeId : "")
					
			.form-group
				label Quantity
				input.form-control.col-md-6(name='quantity', type='text', maxlength='100', value=values ? values.quantity : "")

			.form-group
				label Picture
				input.form-control-file(name='picture', type='file',maxlength='100', value=values ? values.picture : "")
				br
				button.btn.btn-primary(type='submit') Add Product