extends ../layouts/common
block content
   body
      header
       nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/products') Products
          li.nav-item
            if session.cart.totalItems
              a.nav-link(href='/cart') Cart (#{session.cart.totalItems})
            else 
              a.nav-link(href='/cart') Cart
          li.nav-item
            a.nav-link(href='/products/changePassword/'+user.id) Change Password
          form.form-inline.mt-0(action='/products/search', method='GET')
            input.form-control.mr-sm-2(type='search', name='q', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        ul.navbar-nav.ml-auto
          li
            if user
             p.nav-link(href='#')= user.name
          li
            if !user
             a.btn.btn-primary(href='/auth/login') Login
          li 
            a.nav-link(href='/logout') Log out
      main
       link(rel='stylesheet' type='text/css' href="/stylesheets/style.css")
       .row(style='margin-top: 20; margin-left: 30; margin-right: 30;')
         each product in products
          .col-sm-2(style='margin-bottom: 20;')
             .card(style='width: 200; height: 420;')
                 img.card-img-top(src='/'+ product.picture, width='200', height='200')
                 .card-body
                  h5.card-title= product.name
                  p.card-text Some quick example text &apos;s content.
                  h6.card-title= product.quantity +" products"
                  h6.card-title= product.price + "$"
                  if session.cart.items
                    -var productId = Object.keys(session.cart.items);
                    if productId.includes(product.id)
                      if session.cart.items[product.id].quantity > product.quantity -1
                        a.btn.btn-secondary.btn-sm(href='#') Sold out
                      else
                        a.btn.btn-primary.btn-sm(href='/cart/add/'+ product.id) Add to cart
                    else
                      a.btn.btn-primary.btn-sm(href='/cart/add/'+ product.id) Add to cart
                  else 
                    if product.quantity > 0 
                      a.btn.btn-primary.btn-sm(href='/cart/add/'+ product.id) Add to cart
                    if product.quantity == 0
                      a.btn.btn-secondary.btn-sm(href='#') Sold out
      nav(aria-label='...' style='margin-top: 20; margin-left: 50')
        ul.pagination
          if(page === 1)
            li.page-item.disabled
              a.page-link(href='#') Previous
          if(page !== 1 && page<= numberOfPages)
            li.page-item
              a.page-link(href='/products?page='+ (page-1)) Previous
          -for(var i= 1; i<= numberOfPages; i++){
          if (page === i)
            li.page-item.active
              a.page-link(href='/products?page='+ i)
                | #{i}
          else
            li.page-item
                a.page-link(href='/products?page='+ i)
                  | #{i} 
          -}
          if(page === numberOfPages)
            li.page-item.disabled
              a.page-link(href='#') Next
          if(page >= 1 && page< numberOfPages)
            li.page-item
              a.page-link(href='/products?page='+ (page+1)) Next